# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*

/node_modules
/yarn-error.log

/public/assets
/public/uploads
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

.idea

# Ignore coverage
coverage

# Ignore DS_STORE
*.DS_Store

# Ignore env variable file.
.env
