<% @page_title = "Sputnik | Home" %>

<h2>Benefits</h2>

<div class="row">
    <ul>
        <li>Clear and 100% Transparent Income Schemes</li></br>
    </ul>
    <ul>
        <li>Total income and bonuses up to Rp 3 milllion/week</li>
        <ul>
            <li>Daily revenue of up to $30 </li>
            <li>Daily bonus up to IDR 350,000 </li>
            <li>Daily bonus up to Rp. 750,000 (outside jabodetabek) </li>
        </ul>
    </ul>
    <ul>
        <li>Ease of disbursement of income 24 hours, every day.</li></br>
    </ul>
    <ul>
        <li>Choose an order free by destination address..</li></br>
    </ul>
    <ul>    
        <li>Go-Car Self-help program.</li>
        <ul>
            <li>Service repair piece up to 30% </li>
            <li>Mobile phone installment program </li>
            <li>The premium insurance program starts from Rp 15.000 </li>
            <li>And much more </li>
        </ul>
    </ul>
</div>
