<% if flash[:success] %>
  <% success_messages = flash[:success].split("\n") 
  	success_messages.each do |message| %> 
  	<div class="alert alert-success"> <%= message %> </div>
  <% end %>
<% end %>

<% if flash[:notice] %>
	<% notices = flash[:notice].split("\n")
	notices.each do |notice| %>
  		<div class="alert alert-info"> <%= notice %> </div>
  	<% end %>
<% end %>

<% if flash[:alert] %>
	<% alerts = flash[:alert].split("\n")
	alerts.each do |alert| %>
		<div class="alert alert-danger"> <%= alert  %> </div>
	<% end %>
<% end %>
<% flash.clear %>